<div class="login-form" ref="checkContainer">
    <i-row>
        <i-col span="24">
            <i-input size="large" ref="userName" v-model="userName" v-check="rules.userName" placeholder="请输入手机号码"></i-input>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <i-input size="large" type="password" ref="password" v-model="password"  v-check="rules.password" placeholder="请输入密码"></i-input>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <i-button type="success" class="login-form-submit" @click="submit()">登录</i-button>
        </i-col>
    </i-row>
</div>
