.common-icon-add{

    .ivu-upload-drag:hover {
        border-color: #336;
    }

    .upload-box {
        margin-top: 30px;
    }

    .upload-zone {
        padding: 50px 0;

    }

    .upload-icon {
        font-size: 32px;
    }

    .upload-tip {
        font-size: 14px;
        line-height: 24px;
        color: #999;
    }
}
