<div class="register-form" ref="checkContainer">
    <i-row>
        <i-col span="24">
            <i-input size="large" v-model="userName" ref="userName" v-check="rules.userName" placeholder="请输入手机号码"></i-input>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <i-input size="large" type="password" v-model="password"  ref="password"  v-check="rules.password"  placeholder="请输入密码"></i-input>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <i-input type="password" size="large" v-model="rePassword"  ref="rePassword" v-check="rules.rePassword" placeholder="请再次确认密码"></i-input>
        </i-col>
    </i-row>
    <i-row>
        <i-col span="24">
            <i-button type="success" class="register-form-submit" @click="submit()">注册</i-button>
        </i-col>
    </i-row>
</div>
