<div class="repo-add">
    <h2 class="repo-add-title">{{ isEdit ? '更新图标库' : '新建图标库' }}</h2>
    <div class="repo-add-table" ref="checkContainer">
        <i-row>
            <i-col span="4">图标库名称</i-col>
            <i-col span="20">
                <i-input size="large" v-model="repoName" v-check="rules.repoName" placeholder="请输入..."></i-input>
            </i-col>
        </i-row>
        <i-row>
            <i-col span="4">图标Icon前缀</i-col>
            <i-col span="20">
                <i-input size="large" v-model="iconPrefix" v-check="{rules: rules.iconPrefix, trigger: 'change'}" placeholder="请输入..."></i-input>
            </i-col>
        </i-row>
        <i-row>
            <i-col span="4">图标库描述</i-col>
            <i-col span="20">
                <i-input size="large" v-model="repoDescription" v-check="rules.repoDescription" type="textarea" :autosize="{minRows: 5,maxRows: 10}" placeholder="请输入..."></i-input>
            </i-col>
        </i-row>
    </div>
    <i-button type="success" class="repo-add-submit" :loading="isLoading" @click="submit()">确认提交</i-button>
</div>
